#  Ejercicios

#### 1 Ejercicio

Dada la lista L = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], escribe expresiones en Python que produzcan los siguientes resultados:

1. El primer elemento de la lista.
2. El último elemento de la lista (Sin conocer la longitud de la lista).
3. La sublista con los dos últimos elementos. (Sol: [8, 9])
4. La sublista de los elementos que ocupan posiciones pares. (Sol: [1, 3, 5, 7, 9])
4. La sublista de los elementos que ocupan posiciones impares. (Sol: [2, 4, 6, 8])

In [1]:
L = [1,2,3,4,5,6,7,8,9]

In [3]:
# Sol 1: 

print(L [0])

1

In [4]:
# Sol 2: 

print(L [-1])

9

In [33]:
# Sol 3: 

dos_ult_num = L[-2:]
dos_ult_num

[8, 9]

In [30]:
# Sol 4: 

pares = L[1::2]
pares

[2, 4, 6, 8]

In [32]:
# Sol 5: 

impares = L[0::2]
impares

[1, 3, 5, 7, 9]

#### 2 Ejercicio

Dada una lista de enteros a y un número entero n, define:
1. una función llamada __contar__ que calcule el número de veces que se repite n en a.
2. una función llamada __porcentaje__ que calcule el porcentaje de veces que se repite n en a.

_Nota_: utiliza los métodos __len__ y __count__. 
* Puedes ejecutar __list.count?__ para obtener ayuda del método __count__.
* Puedes ejecutar __help(list.count)__ para obtener ayuda del método __count__.

In [39]:
m = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 1, 4]

In [1]:
# Sol: 
def contar(n):
    y = a.count(n)
    return(y)

In [2]:
# Sol: 
def porcentaje(n):
    z = (a.count(n)/len(a))*100
    return(z)

Prueba las funciones con los argumentos `a = m` y `n = 4`.

In [4]:
# Sol: 
m = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 1, 4]

In [5]:
# Sol: 
def contar(x):
    a = m.count(x)
    return(a)

In [6]:
contar(4)

3

In [7]:
# Sol: 
def porcentaje(x):
    b = (m.count(x)/len(m))*100
    return(b)

In [8]:
porcentaje(4)

18.75

#### 3 Ejercicio

La función  __upper__ del tipo __string__ genera una nueva cadena de caracteres, donde todos los caracteres son mayúsculas.
Dada la siguiente cadena:

In [1]:
# ejecuta esta celda
s = 'Hola, me llamo Iñigo Montoya, tú mataste a mi padre. ... Prepárate a morir'
s.upper()

'HOLA, ME LLAMO IÑIGO MONTOYA, TÚ MATASTE A MI PADRE. ... PREPÁRATE A MORIR'

* Genera una cadena __t__ igual que __s__ pero en mayúsculas. Calcula la longitud de t.
* Ejecuta la función  __split(',')__. Fíjate en lo que devuelve esa función. 
* Ejecuta la función __lower()__.
* Ejecuta la función  __title()__.
* Ejecuta __dir(str)__ para listar las funciones disponibles para trabajar con cadenas.

In [1]:
# Sol: 
t = 'HOLA, ME LLAMO IÑIGO MONTOYA, TÚ MATASTE A MI PADRE. ... PREPÁRATE A MORIR'

In [2]:
len(t)

74

In [4]:
t.lower()

'hola, me llamo iñigo montoya, tú mataste a mi padre. ... prepárate a morir'

In [5]:
t.title()

'Hola, Me Llamo Iñigo Montoya, Tú Mataste A Mi Padre. ... Prepárate A Morir'

In [6]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### 4 Ejercicio

Dada la lista de las ciudades más pobladas de Italia __it__:

it = [ 'Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo' , 'Génova',
      'Bolonia', 'Florencia', 'Bari', 'Catania']
      
* Crea un diccionario donde la clave sea la posición que ocupa cada ciudad en la lista. Para hacerlo sigue estas indicaciones:
    * Crea una secuencia de enteros mediante la función __range__. El inicio de la secuencia es el cero y el fin de la secuencia es la longitud de la lista de poblaciones de Italia.
    * Crea una lista __m__ de tuplas del tipo  (pos, ciudad). Utiliza la función __zip__.
    * Utiliza la función __dict__ para construir el diccionario a partir de la lista __m__.

In [ ]:
# El diccionario pedido tiene esta forma:

"""
{0: 'Roma',
 1: 'Milán',
 2: 'Nápoles',
 3: 'Turín',
 4: 'Palermo',
 5: 'Génova',
 6: 'Bolonia',
 7: 'Florencia',
 8: 'Bari',
 9: 'Catania'}
"""

In [11]:
# Sol: 

claves = range(1,11) #si quiero que sea del 0 al 9, tengo que poner range(10)
claves = list(claves)
claves

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
valores = ['Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo' , 'Génova', 'Bolonia', 'Florencia', 'Bari', 'Catania']
valores

['Roma',
 'Milán',
 'Nápoles',
 'Turín',
 'Palermo',
 'Génova',
 'Bolonia',
 'Florencia',
 'Bari',
 'Catania']

In [13]:
zip(claves, valores)

In [14]:
dict(zip(claves, valores)) #del 1 al 11, pero en el ejercicio pedia de 0 a 9

{1: 'Roma',
 2: 'Milán',
 3: 'Nápoles',
 4: 'Turín',
 5: 'Palermo',
 6: 'Génova',
 7: 'Bolonia',
 8: 'Florencia',
 9: 'Bari',
 10: 'Catania'}

In [7]:
claves = range(10) #ahora tal cual pide el ejercicio de 0 a 9
claves = list(claves)
claves

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
valores = ['Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo' , 'Génova', 'Bolonia', 'Florencia', 'Bari', 'Catania']
valores

['Roma',
 'Milán',
 'Nápoles',
 'Turín',
 'Palermo',
 'Génova',
 'Bolonia',
 'Florencia',
 'Bari',
 'Catania']

In [9]:
zip(claves, valores)

In [10]:
dict(zip(claves, valores))

{0: 'Roma',
 1: 'Milán',
 2: 'Nápoles',
 3: 'Turín',
 4: 'Palermo',
 5: 'Génova',
 6: 'Bolonia',
 7: 'Florencia',
 8: 'Bari',
 9: 'Catania'}

#### 5 Ejercicio

La función __convertirF2C__ convierte grados Fahrenheit en grados centígrados.

In [50]:
# Ejecuta esta celda
def convertirF2C(f):
    return  ( f - 32 ) * 5 / 9

* Utiliza la función __convertirF2C__ para generar la siguiente tabla de conversión:

```
0:º F = -17.8º C
10:º F = -12.2º C
20:º F = -6.7º C
    ...
100:º F = 37.8º C
110:º F = 43.3º C
120:º F = 48.9º C
```

__Nota__:
* Genera la lista de valores [0, ... , 120] con la función __range__.
* Utiliza un bucle __for__ para calcular los grados centígrados de cada elemento de la lista de valores.
* Utiliza los operadores de formato `%d` y `%.1f` para escribir los resultados.

In [51]:
valores = list(range(0,130,10))
valores

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [52]:
for i in valores:
    convert = convertirF2C(i)
    sol = ('%d:º F = %.1fº C' % (i, convert))
    print(sol)

0:º F = -17.8º C
10:º F = -12.2º C
20:º F = -6.7º C
30:º F = -1.1º C
40:º F = 4.4º C
50:º F = 10.0º C
60:º F = 15.6º C
70:º F = 21.1º C
80:º F = 26.7º C
90:º F = 32.2º C
100:º F = 37.8º C
110:º F = 43.3º C
120:º F = 48.9º C

#### 6 Ejercicio

Los 15 primeros números triangulares son:

```
[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105]
```

Define una función __triang_1__ que reciba un número entero positivo $n$ como argumento y genere la lista de los `n` primeros números triangulares. Resuelve el problema aplicando la fórmula a_n = n * (n + 1) / 2. __Utiliza listas por comprensión__.

__Nota:__

* Genera primero los n primeros números comenzando por el 0 y utilizando la función __range__.

In [89]:
lista = range(15)
lista = list(lista)
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [67]:
def triang_1(n):
    a = n * (n + 1) / 2.
    return(a)

In [93]:
numeros_triangulares = [triang_1(a) for a in lista]
numeros_triangulares

[0.0,
 1.0,
 3.0,
 6.0,
 10.0,
 15.0,
 21.0,
 28.0,
 36.0,
 45.0,
 55.0,
 66.0,
 78.0,
 91.0,
 105.0]

#### 7 Ejercicio

Dado el diccionario de las ciudades más pobladas de Italia __ciudades__:

d =  { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,6: 'Génova',
      7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}
      
y la lista __pob__ que contiene información de la cantidad de población en cada ciudad:

pob =  [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 322511, 298957]

* crea un nuevo diccionario donde cada elemento sea de la forma

__i: [ciudad,poblacion]__

__Nota__: Utiliza listas por comprensión. La función __enumerate__ también te puede ayudar.

In [30]:
pob = [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 
       322511, 298957]
d = { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,
     6: 'Génova',   \
      7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}
# Sol

# Utilizando listas por comprensión
diccionario_comprension = {a:b for a,b in zip(d.values(), pob)}
diccionario_comprension

{'Bari': 322511,
 'Bolonia': 372256,
 'Catania': 298957,
 'Florencia': 364710,
 'Génova': 610887,
 'Milán': 1299633,
 'Nápoles': 973132,
 'Palermo': 663173,
 'Roma': 2718768,
 'Turín': 908263}

In [26]:
#Sin utilizar listas por comprensión
diccionario = dict(zip(d.values(), pob))
diccionario

{'Bari': 322511,
 'Bolonia': 372256,
 'Catania': 298957,
 'Florencia': 364710,
 'Génova': 610887,
 'Milán': 1299633,
 'Nápoles': 973132,
 'Palermo': 663173,
 'Roma': 2718768,
 'Turín': 908263}

-------------------